<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 开启二级缓存 -->
	<settings>
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<!--别名配置-->
	<typeAliases>
		<typeAlias type="com.maben.vo.CustomerModel" alias="CM"/>
		<typeAlias type="com.maben.vo.CustomerQueryModel" alias="CQM"/>
	</typeAliases>
	<!--分页插件-->
	<plugins>
		<plugin interceptor="com.maben.pageutil.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*Page.*"/>
		</plugin>
	</plugins>
	<!--扫描的mapper.xml-->
	<!--<mappers>
		<package name="com.maben.dao"/>
	</mappers>-->
</configuration> 